<% include ../partials/header %>
        <div class="container">
            <div style="margin-top: 6em;">
                    <h4><%= post.title %></h4>
                    <p><%- post.body %></p>
                    <% if ((currentUser._id === post.author.id) || "") { %>
                        <a href="/posts/<%= post._id%>/edit" class="btn btn-warning">Edit</a>
                        <form id="delete" action="/posts/<%= post._id %>?_method=DELETE" method="POST">
                            <input type="submit" value="Delete" class="btn btn-danger">
                        </form>
                    <% } %>
            </div>
            <hr>
            <a class="btn btn-success" href="/posts/<%= post._id %>/comments/new">Add comment</a>
            <div class="comments">
                <% post.comments.forEach(function(comment) { %>
                    <span><strong><%= comment.author.username %></strong></span>
                    <p><%= comment.message %></p>
                <% }) %>
            </div>
        </div>
<% include ../partials/footer %>
